@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
  font-family: 'Roboto', sans-serif;
}

.conteiner{
  background: #ECF4FF;
  color: #1C1C1C;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px;
  
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
/*  flexbox  */
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.titulo{
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 100;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  
}

.projetos {
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  
  
}

.titulo-projeto {

  font-weight: 700; 
  font-size: 30px;
  list-style: none;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.projetos-item a {
  color: #1C1C1C; 
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
} 

.dark .conteiner {
  background: #333439; 
  color: #F6F6F6;
  
}

.dark .projetos {
  color:  #1C1C1C;
}

.dark .tema button {
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #F7F7F7; 
}